$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@import 'global/flat-buttons.scss';
@import 'global/radio-flat-onoff.scss';
@import 'global/spinner.scss';

@import 'mixes/__main__.scss';

@import 'nodes/nodes.scss';
@import 'nodes/details.scss';

