<h1>Nodes</h1>

<ul class="media-list">
  <li class="media" data-ng-repeat="node in nodes" ng-click="go('nodes')">
    <a class="pull-left">
      <img class="media-object" src="http://placehold.it/70x70" alt="">
    </a>
    <div class="media-body">
      <h4 class="media-heading" data-ng-bind="node.name"></h4>
      <span data-ng-bind="node.association.name"></span>

      <div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>        
    </div>
  </li>
</ul>