<div class="device-header row" data-ng-show="node">
  <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    <i class="icon fa fa-lightbulb-o fa-3x fa-border"></i>
  </div>
  <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
    <h3 class="title">{{ node.name }}<br />
      <small data-ng-bind="node.association.name"></small>
    </h3>
    <div class="menu row-fluid">
      <div class="button col-xs-3 col-sm-2 col-md-2 col-lg-2" data-ng-click="editOpen()">
        <i class="fa fa-pencil fa-2x fa-inverse"></i>
      </div>
      <div class="button col-xs-3 col-sm-2 col-md-2 col-lg-2" data-ng-click="toggleFavorite()">
        <i class="fa fa-star-o fa-2x fa-inverse"></i>
      </div>
      <div class="button col-xs-3 col-sm-2 col-md-2 col-lg-2 pull-right" data-ng-click="deleteConfirm()">
        <i class="fa fa-trash-o fa-2x fa-inverse"></i>
      </div>
      <div class="button col-xs-3 col-sm-2 col-md-2 col-lg-2 pull-right" data-ng-click="refresh()">
        <i class="fa fa-refresh fa-2x fa-inverse"></i>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="device-commands row-fluid" data-ng-show="node">
  <div class="page-header">
    <h3>
      <small>Commands</small>
    </h3>
  </div>
  
  <div class="alert alert-{{status.class}} alert-dismissable" data-ng-repeat="status in statuses.commands">
    <i class="fa fa-exclamation-triangle"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-ng-click="resetCommandStatuses()">&times;</button>
    <strong>{{ status.title | translate }}</strong> {{status.message | translate }}
  </div>

  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" ng-repeat="command in node.commands">
    <div class="onoffswitch" ng-if="command.type == 'binary'">
      {{ command.name | translate }}
      <input type="checkbox" name="{{command.name}}" class="onoffswitch-checkbox" id="{{command.id}}" 
        data-ng-change="onChangeCommand(command)" ng-model="command.values.current">
      <label class="onoffswitch-label" for="{{command.id}}">
          <div class="onoffswitch-inner">
              <div class="onoffswitch-active"><div class="onoffswitch-switch">ON</div></div>
              <div class="onoffswitch-inactive"><div class="onoffswitch-switch">OFF</div></div>
          </div>
      </label>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="device-details row-fluid" data-ng-show="node">
  <div class="page-header" ng-click="isCollapsed.details = !isCollapsed.details">
    <h3><small>Details information</small></h3>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" ng-repeat="detail in node.details">
    <div class="info">
      <p class="lead">
        <h5><strong>{{ detail.title | translate }}</strong></h5>
        <span data-ng-bind="detail.value"></span>
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>