<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <i class="icon fa fa-lightbulb-o fa-5x"></i>
  </div>
  <div class="col-md-10">
    <h3 class="title">{{ node.name }}</h3>
  </div>

  

</div>



<div class="container">
  <div class="row-fluid">
    <div class="device-details">
      <div class="device-image">
        <img src="http://placehold.it/100x100" alt="{{node.association.name}} device" 
          title="{{node.association.name}}" class="img-circle">
      </div>
      <div class="device-info-block">
        <h3 class="device-header text-center">{{ node.name }}<br />
          <small data-ng-bind="node.association.name"></small>
        </h3>

        <ul class="actions">
          <li>
            <a data-ng-click="editOpen()">
            <span class="glyphicon glyphicon-edit"></span>
            </a>
          </li>
          <li>
            <a data-ng-click="toggleFavorite()">
              <span class="glyphicon" data-ng-class="{ 'glyphicon-star-empty': !favorite, 'glyphicon-star': favorite }">
              </span>
            </a>
          </li>
          <li>
            <a data-ng-click="deleteConfirm()">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="categories text-center">
      <span class="label label-success">Vardagsrum</span>
      <span class="label label-success">Kallbäck 13A</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="page-header" ng-click="isCollapsed.details = !isCollapsed.details">
      <h3><small>Details information</small></h3>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" ng-repeat="detail in node.detailed.data">
      <p class="lead">
        <h5><strong>{{ detail.title | translate }}</strong></h5>
        <span data-ng-bind="detail.value"></span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h3>
        <small>Commands</small>
        <span class="glyphicon glyphicon-refresh action pull-right" data-ng-click="refreshCommandValues()"></span>
      </h3>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 text-center" ng-repeat="command in node.commands.data">
      <p class="lead">
        <h5><strong>{{ command.name | translate }}</strong></h5>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-off" data-ng-show="!command.values.current" 
            data-ng-click="activateCommand(command, 'on')"> On</span>
          <span class="glyphicon glyphicon-off" data-ng-show="command.values.current"
            data-ng-click="activateCommand(command, 'off')"> Off</span>
        </button>
      </p>


      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <div class="onoffswitch-inner">
                <div class="onoffswitch-active"><div class="onoffswitch-switch">ON</div></div>
                <div class="onoffswitch-inactive"><div class="onoffswitch-switch">OFF</div></div>
            </div>
        </label>
      </div>

    </div>
  </div>
</div>