<div class="container" data-ng-repeat="group in presentation.groups">
  <div class="row">
    <!-- Boxes de Acoes -->
    <div class="col-xs-12 col-sm-6 col-lg-4" data-ng-repeat="node in group.nodes" data-ng-click="selectNode(node)">
      <div class="node">                           
        <div class="icon">
          <div class="image">
            <img src="http://placehold.it/70x70" alt="bootsnipp" class="img-circle" />
          </div>
          <div class="info">
            <h3 class="title">{{ node.name }}<br />
            <small data-ng-bind="node.association.name"></small></h3>
            <hr />
            <p>Information</p>
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div>
  </div>
</div>