
/* Configurations */

.device-header {
    $razberry-btn-bg-color:  #3498DB;
    $razberry-btn-bg-border-color: #2980b9;

    .button {
        background-color: $razberry-btn-bg-color;
        border-bottom: 0.5em solid $razberry-btn-bg-border-color;
        cursor: pointer;
        padding: 1em;
        text-align: center;

        &:active {
            background-color: $razberry-btn-bg-border-color;
        }

        &:hover {
            background-color: $razberry-btn-bg-border-color;
        }
    }

    .menu {
        margin: 2em 0;
        background-color: $razberry-btn-bg-border-color;
    }

    .title {
        line-height: 0.8em;
        margin: 0;
        padding: 0.45em 0;

        small {
            text-transform: uppercase;
        }
    }
}

.device-commands {

    .page-header, .page-header h3 {
        margin-top: 0;
    }
}

.device-details {
    position: relative;

    .device-image {
        position: relative; 
        z-index: 1;
        text-align: center;
    }

    .device-info-block {
        width: 100%; 
        z-index: 0; 
        margin-top: -10px;

        .actions {
            float: left;
            width: 100%; 
            margin: 0 0 0.5em 0; 
            padding: 0; 
            list-style: none;
            border-bottom: 2px solid #428BCA; 
            border-top: 2px solid #428BCA;

            li {
                a {
                    padding: 20px 30px; 
                    float: left;
                    cursor: pointer;
                }
                a:hover {
                    background-color: #E7E7E7;
                }
            }
        }

        .categories {
            float: right;
            width: 100%; 
            margin: 0; 
            padding: 0; 
            list-style: none;
        }
    }
}