
/* Configurations */

.device-header {
    $razberry-btn-bg-color:  #3498DB;
    $razberry-btn-bg-border-color: #2980b9;

    .button {
        background-color: $razberry-btn-bg-color;
        border-bottom: 0.5em solid $razberry-btn-bg-border-color;
        cursor: pointer;
        padding: 1em;
        text-align: center;

        &:active {
            background-color: $razberry-btn-bg-border-color;
        }

        &:hover {
            background-color: $razberry-btn-bg-border-color;
        }
    }

    .menu {
        margin: 2em 0;
        background-color: $razberry-btn-bg-border-color;
    }

    .title {
        line-height: 0.8em;
        margin: 0;
        padding: 0.45em 0;

        small {
            text-transform: uppercase;
        }
    }
}

.device-commands {

    .page-header, .page-header h3 {
        margin-top: 0;
    }
}

.device-details {

    background-color: #EDEDED;
    padding-bottom: 20px;

    .info {
        background-color: #FAFAFA;
        color: #666666 !important;
        margin: 0.5em;
        padding: 0.2em 1em;

        -webkit-box-shadow: 0px 2px 4px 0px rgba(200, 200, 200, 0.75);
        -moz-box-shadow:    0px 2px 4px 0px rgba(200, 200, 200, 0.75);
        box-shadow:         0px 2px 4px 0px rgba(200, 200, 200, 0.75);
    }

    .page-header {
        background-color: #ffffff;
    }
}