<h1>Then</h1>
    
<p class="lead">
    Actions to be run after criterias are met.
</p>

<div class="then-criterias clearfix">
    <div class="pull-left" data-ng-repeat="current in holder.then">
        <span data-ng-if="$first">Then</span>
        <a class="btn" data-ng-click="updateWhen(current)">
            <span>{{ current.item.modifier + '-prefix' | translate }}</span>
            <i class="fa {{ current.item.modifier + '-icon-class' | translate }}"></i>
            <span><strong> {{ current.actions.name.data | lowercase }}</strong></span>            
        </a>

        <span data-ng-if="!$last" class="separator">and</span>
    </div>
</div>

<hr />

<div class="spinner medium" data-ng-show="!then"></div>
<div class="alert alert-info" data-ng-show="then.length == 0">Cannot find any then capabilities</div>

<div data-ng-repeat="t in then">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" data-ng-repeat="item in t.items">
        <button type="button" class="turquoise-flat-button" data-ng-click="onSelect('then',item)">
            <span class="btn-label"><i class="fa {{ item.modifier + '-icon-class' | translate }}"></i></span>
            {{ item.name }} <br /><small>{{ t.association.name }}</small>
        </button>
    </div>  
</div>
<div class="clearfix"></div>